body {
    width: 100vw;
    margin: 0;
}
.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-title {
    margin: 4rem 2rem 4rem 2rem;
    font-size: 42px;
    text-align: center;
}

.faq-img {
    min-width: 13rem;
    max-width: 60rem;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.faq-accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 2rem;
}

.acc-title {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding: 1rem 0 1rem .2rem;
} 

 
.acc-active-symbol {
    padding-right: .2rem;
    margin-left: 22px;
    font-size: 30px;
}

.acc-open-link {
    width: 80%;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 24px;
    margin: 0;
    padding-top: 0;
}

.acc-title:hover {
    background-color: rgba(211, 211, 211, .3);
}

.acc-question {
    text-align: justify;
    font-size: 25px;
}

.acc-content {
    padding: 2rem 0 2rem 0;
    line-height: 2.15rem;
    font-size: 20px;
    text-align: justify;
}

.italic {
    font-style: italic;
}

.acc-a-tag {
    text-decoration: none;
}

.faq-line {
    height: 1px;
    border: none;
    background-color: gray;
}