.contact-form {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: left;
    margin: 1.5rem;
}

@media screen and (max-width: 698px) {

    .contact-form {
        align-items: justify;
    }

    .form-input {
        width: 90%;
    }

    .form-msg {
        width: 84%;
    }

    .form-submit {
        width: 91%;
    }

    .captcha-div {
        width: 99%;
        display: inline-flex;
        justify-content: center;
    }
}

@media screen and (min-width: 699px) {

    .contact-form {
        align-items: left;
    }

    .form-input {
        width: 40%;
        min-width: 375px;
    }

    .form-msg {
        width: 60%;
        min-width: 450px;
    }

    .form-submit {
        width: 270px;
    }

    .captcha-div {
        margin-left: 1.2rem;
    }
}

.form-label {
    font-size: 20px;
    margin: .5rem 1rem .5rem 1rem;
}

.form-input {
    height: 2.1rem;
    margin: .5rem 1rem .5rem 1rem;
    border-radius: 15px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.form-msg {
    border-radius: 15px;
    height: 12rem;
    margin: 1rem;
    font-size: 20px;
    padding: 20px;
    color: black;
}

.form-submit {
    font-family: 'fontomod-bold', sans-serif;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px;
    border: none;
    padding: .2rem;
    margin: 1rem;
    border-radius: 15px;
}

.form-submit:hover {
    background-color: orange;
}