#cast {
    scroll-margin-top: 2rem;
}

.cast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cast-title {
    display: block;
    font-size: 26px;
    padding: 2rem;
}

.cast-card-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cast-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
    font-size: 18px;
}

.cast-img {
    width: 150px;
    height: 150px;
    border: 3px solid rgb(224,117,60);
}

.cast-bottom-img {
    min-width: 13rem;
    max-width: 60rem;
    width: 100%;
    height: auto;
    margin: 1rem;
}