body {
    background: black;
    animation: fadeIn .5s;
  }
    
  @keyframes fadeIn {
    from {
      background-color: black;
      opacity: 0;
    }
    to {
      background-color: black;
      opacity: 1;
    }
  }