body {
    background: black;
    animation: transsitionIn 1s;
  }
    
  @keyframes transsitionIn {
    from {
      background-color: black;
      opacity: 0;
    }
    to {
      background-color: black;
      opacity: 1;
    }
  }