body {
  padding-top: 60px;
  background: black;
  animation: fadeIn .6s;
}
    
  @keyframes fadeIn {
    from {
      background-color: black;
      opacity: 0;
    }
    to {
      background-color: black;
      opacity: 1;
    }
  }