.vid-intro-div {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.vid-wrapper {
    margin: 2rem;
}

.video {
    border: 2px solid white;
}

.img-quot-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.vid-quote-div {
    max-width: 400px;
    max-height: 100px;
}

.quote-main {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 24px;
    font-weight: 500;
    color: rgb(224,117,60);

}

.quote-text-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;

}

.quote-text-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}

.vid-img-div {
    display: flex;
    justify-content: center;
    align-items: left;
}

.vid-intro-img {
    min-width: 19rem;
    max-width: 30rem;
    width: 100%;
    min-height: 13rem;
    max-height: 20rem;
    height: auto;
}

.orange-line {
    background-color: rgb(224,117,60);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}

.blue-line {
    background-color: rgb(56,126,155);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}

.yellow-line {
    background-color: rgb(235,198,71);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}