@media screen and (min-width: 979px) {
    .vid-intro-img {
        margin-left: 2rem;
        width: 96%;
    }
 
    .quote-img {
        margin-left: 2rem;
        width: 97%;
    }
}

@media screen and (max-width: 978px) {
    .vid-intro-div {
        flex-wrap: wrap-reverse;
    }

    .quote-img {
        width: 84%;
    }

    .vid-intro-img {
        width: 80%;
    }
}


.vid-intro-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-wrapper {
    margin: .5rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    border: 2px solid white;
    width: 100% !important;
    max-width: 100em;
    height: auto !important;
}

.img-quot-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
 
.quote-img {
    margin-top: .5rem;
    margin-right: 2rem;
    min-width: 17rem;
    max-width: 60rem;
    height: auto;
}

.vid-intro-img {
    margin-right: 2rem;
    min-width: 15rem;
    max-width: 48em;
    height: auto;
}

.orange-line {
    background-color: rgb(224,117,60);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}

.blue-line {
    background-color: rgb(56,126,155);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}

.yellow-line {
    background-color: rgb(235,198,71);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}