@media screen and (max-width: 970px) {
    .vid-intro-div {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (min-width: 1670px) {

}

@media screen and (min-width: 1340px) and (max-width: 1670px) {

}

@media screen and (min-width: 745px) and (max-width: 1340px) {

}

@media screen and (max-width: 745px) {

}

@media screen and (max-width: 580px) {

}

.vid-intro-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-wrapper {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    border: 2px solid white;
    width: 100% !important; 
    max-width: 100em;
    height: auto !important;
}

.img-quot-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 1rem;
}
 
.quote-img {
    border: 2px solid white;
    min-width: 17rem;
    max-width: 60rem;
    width: 100%;
    height: auto;
    margin: 1rem;
}

.vid-intro-img {
    border: 2px solid white;
    min-width: 15rem;
    max-width: 48em;
    width: 91%;
    height: auto;
}

.orange-line {
    background-color: rgb(224,117,60);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}

.blue-line {
    background-color: rgb(56,126,155);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}

.yellow-line {
    background-color: rgb(235,198,71);
    border: none;
    height: 6px;
    width: 100vw;
    margin-bottom: 4px;
}