#tour-dates {
    scroll-margin-top: 2rem;
}

@media screen and (max-width: 850px) {
    .tour-listing {
        flex-direction: column;
    }

    .tour-city {
        margin: .5rem;
    }

    .tour-date {
        margin: .5rem;
    }

    .tour-location {
        margin: .5rem;
    }

    .tour-button-style {
        margin: .5rem;
        width: 100%;
    }
}

@media screen and (min-width: 851px) {
    .tour-button-style {
        width: 25%;
    }
}

.tours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tour-title {
    display: block;
    font-size: 26px;
    padding: 2rem;
}

.tour-listing {
    display: flex;
    width: 80%;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.tour-city {
    color: rgb(224,117,60);
    font-size: 26px;
}

.tour-button-style {
    background-color: rgb(224,117,60);
    font-size: 24px;
    border: none;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}

.tour-button-style:hover {
    background-color: rgb(255, 175, 132);
}

.listing-line {
    width: 85%;
    margin-bottom: 1rem;
}