#about {
    scroll-margin-top: -27vh;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-top-img { 
    min-width: 13rem;
    max-width: 60rem;
    width: 90%;
    height: auto;
    margin: 1rem;
}

.about-header-img {
    min-width: 13rem;
    max-width: 40rem;
    width: 95%;
    height: auto;
    margin: 2rem;
    margin-top: 3rem;
}

.about-text {
    display: block;
    max-width: 1000px;
    margin: 1rem;
    line-height: 1.9;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: justify;
}

.gray-text {
    font-family: 'fontomod-bold', sans-serif;
    font-weight: bold;
    font-style: italic;
    color:rgb(177, 177, 177);
}

.orange-text {
    color: rgb(224,117,60);
}

.blue-text {
    color: rgb(56,126,155);
}

.yellow-text {
    color: rgb(235,198,71);
}

.about-bottom-img {
    min-width: 13rem;
    max-width: 60rem;
    width: 90%;
    height: auto;
    margin: 1rem;
}