#about {
    scroll-margin-top: -21rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-top-img {
    width: 85%;
    height: 30rem;
    margin: 1rem;
}

.about-header-img {
    width: 45%;
    height: 10rem;
    margin: 1rem;
}

.about-text {
    margin: 1rem 5rem 1rem 5rem;
    line-height: 1.7;
    font-size: 26px;
}

.gray-text {
    font-family: 'fontomod-bold', sans-serif;
    font-weight: bold;
    font-style: italic;
    color:rgb(177, 177, 177);
}

.orange-text {
    color: rgb(224,117,60);
}

.blue-text {
    color: rgb(56,126,155);
}

.yellow-text {
    color: rgb(235,198,71);
}

.about-bottom-img {
    width: 85%;
    height: 30rem;
    margin: 1rem;
}