@media (min-width: 952px) {
    .header-img {
        width: 18.3rem;
        height: 3.2rem;
    }
    
    .nav { 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hamburger-nav {
        display: none;
    }
}

@media (max-width: 952px) {
    header {
        width: 100vw;
    }

    .header-img {
        width: 8rem;
        height: 2rem;
    }

    .header-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav {
        display: none;
    }

    .hamburger-nav {
        margin-left: 1rem;
        margin-right: 1rem;
        cursor: pointer;
        text-align: center;
        width: 32px;
        height: 28px;
    }
}

@media (max-width: 698px) {
    .header-img {
        display: none;
    }
}

header {
    position: sticky;
    top: 0;
    background-color: black;
    padding: .13rem;
}

.header-nav {
    background-color: black;
    opacity: 95%;
    display: flex;
    align-items: center;
    color: white;
    margin: .5rem;
}

.header-img {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    margin-right: 2rem;
    margin-left: 1rem;
    font-size: 24px;
    vertical-align: middle;
}

.nav-link:hover {
    color: orange
}

.tour-btn-div {
    display: flex;
    justify-content: right;
    align-items: center;
}

.tour-btn {
    width: 170px;
    font-family: 'fontomod-bold', sans-serif;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 26px;
    border: none;
    padding: .3rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.tour-btn:hover {
    background-color: orange;
}