footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.orange-line-footer {
    background-color: rgb(224,117,60);
    border: none;
    height: 3px;
    width: 100vw;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.grow-yt:hover {
    width: 2.2rem;
    height: 2.2rem;
}

.grow-fb:hover {
    width: 2.4rem;
    height: 2.4rem;
}

.copyright-txt {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 2rem;
}

.website-developer-link {
    color: white;
}

.website-developer-link:hover {
    color: rgb(224,117,60);
}

.privacy-policy {
    color: white;
}

.privacy-policy:hover  {
    color: rgb(224,117,60);
}