.hb-overlay {
    display: block;
    width: 100vw;
    height: 100vh;
}

.hb-flexbox {
    display: flex;
    margin: 2rem;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hb-nav-link {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

.hb-nav-link:hover {
    color: orange
}

.hb-social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.hb-link {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.hb-icon {
    width: 2rem;
    height: 2rem;
}

.hb-tour-btn {
    width: 230px;
    font-family: 'fontomod-bold', sans-serif;
    background-color: red;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    border: none;
    padding: .2rem;
    border-radius: 5px;
}
